dist: trusty
sudo: false

language: java
jdk: oraclejdk8

branches:
    only:
        - master

before_script:
    - ulimit -c unlimited -S

after_failure:
    - tail -vn +1 target/surefire-reports/*
